.important {
  color: red;
  font-family: cursive;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid red;
  padding: 10px;
  margin: 10px;
  background-color: yellow;
}

.unimportant {
  color: black;
  font-family: monospace;
  font-weight: bolder;
  font-size: 20px;
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  background-color: pink;

}

.span {
  color: blue;
  font-size: 20px;
  font-weight: bolder;
}

.list {
  color: grey;
  font-size: 30px;
  font-weight: bolder;
  border: 2px solid green;
  padding: 10px;
  margin: 10px;
  background-color: white;
}

.list ul {
  color: blue;
}
